<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments Layout Misc Elements</title>
    </head>
    <body>

        <!-- Greyish row -->
        <div th:fragment="greyishrowelement">
            <table class="greyishrow">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <!-- /Greyish row -->

        <!-- Horizontal rule -->
        <div th:fragment="horizontalrule">
            <div class="container">
                <hr/>
            </div>
        </div>
        <!-- /Horizontal rule -->

        <!-- Pinkish row -->
        <div th:fragment="pinkishrowelement">
            <table class="pinkishrow">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <!-- /Pinkish row -->

    </body>
</html>