<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Fragments Layout Navbar Logged In</title>
    </head>
    <body>

        <!-- Navbar -->
        <div th:fragment="navbar">
            <nav class="navbar navbar-dark navbar-expand-xl darkbluebg">
                <!-- Employee logo -->
                <div class="row">
                    <div class="col">
                        <a th:href="@{/EmployeeSearch/Users/{useralias}/Welcome(useralias=${account.useralias})}" class="nav-link waves-effect waves-light">
                            <img id="employeeSearchLink" src="" th:src="@{/media/empSiteLogo_in_extrasmall.png}" 
                                 alt="empSiteLogo_in_small"/>
                            <small class="greyish">
                                <span class="pinkish">Employee</span>Search
                            </small>
                        </a>
                    </div>
                </div>
                <!-- Hello text -->
                <div>
                    <i th:text="${hellouseralias}" class="navbar-text mx-5 text-light">hello useralias</i>
                </div>
                <!-- Navbar toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar buttons and links -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <!-- Search -->
                        <li class="nav-item">
                            <form th:action="@{/EmployeeSearch/Users/{useralias}/Search(useralias=${account.useralias})}" class="form-inline my-0">
                                <div class="md-form form-sm my-0">
                                    <input class="form-control form-control-sm mr-sm-2" type="text" name="keyword" placeholder="Search Users" aria-label="Search"/>
                                </div>
                                <button id="navbarSearchButton" type="submit" class="btn btn-outline-light btn-sm ml-3 my-0 waves-effect">
                                    <i class="fas fa-search mr-2"></i>
                                </button>
                            </form>
                        </li>
                        <!-- Connections -->
                        <li class="nav-item ml-1">
                            <a id="navbarConnectionsButton" th:href="@{/EmployeeSearch/Users/{useralias}/Connections(useralias=${account.useralias})}" class="nav-link waves-effect waves-light"><span th:text="${connectionRequestsReceivedSize}">amount</span>
                                <i th:if="${connectionRequestsReceivedSize} == ''" class="fas fa-user-plus greyishicon"></i>
                                <i th:unless="${connectionRequestsReceivedSize} == ''" class="fas fa-user-plus yellowishicon"></i>
                            </a>
                        </li>
                        <!-- Posts -->
                        <li class="nav-item ml-1">
                            <a id="navbarPostsButton" th:href="@{/EmployeeSearch/Users/{useralias}/Posts(useralias=${account.useralias})}" class="nav-link waves-effect waves-light">
                                <i class="fas fa-envelope greyishicon"></i>
                            </a>
                        </li>
                        <!-- Preferences -->
                        <li class="nav-item mx-1 verticalrulewhite">
                            <a id="navbarPreferencesButton" th:href="@{/EmployeeSearch/Users/{useralias}/Preferences(useralias=${account.useralias})}" class="nav-link waves-effect waves-light">
                                <i class="fas fa-cog greyishicon"></i>
                            </a>
                        </li>
                        <!-- User logo -->
                        <li class="nav-item">
                            <a id="navbarUserlogoButton" th:href="@{/EmployeeSearch/Users/{useralias}(useralias=${account.useralias})}" class="nav-link waves-effect waves-light">
                                <i class="fas fa-user-circle whiteicon"></i>
                            </a>
                        </li>
                        <!-- Dropdown list -->
                        <li class="nav-item mr-5 dropdown">
                            <a id="navbarDropdownMenuLink" th:text="${loggedinuser} + ' (Logged in) '" 
                               class="nav-link dropdown-toggle" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">user logged in</a>
                            <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                                <a id="myHomePageLink" th:href="@{/EmployeeSearch/Users/{useralias}(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-home mr-2 greyishicon"></i><small class="ml-1 greyish"> My Home Page</small></a>
                                <a id="searchLink" th:href="@{/EmployeeSearch/Users/{useralias}/SearchDropdown(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-search mr-2 greyishicon"></i><small class="ml-4 greyish">Search</small></a>
                                <a id="connectionsLink" th:if="${connectionRequestsReceivedSize} == ''" th:href="@{/EmployeeSearch/Users/{useralias}/Connections(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-user mr-2 greyishicon"></i><small class="ml-1 greyish"> Connections</small></a>
                                <a th:unless="${connectionRequestsReceivedSize} == ''" th:href="@{/EmployeeSearch/Users/{useralias}/Connections(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-user mr-2 yellowishicon"></i><small class="ml-1 yellowish"> Connections</small></a>
                                <a id="uploadsLink" th:href="@{/EmployeeSearch/Users/{useralias}/Uploads(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-cloud-upload-alt mr-2 greyishicon"></i><small class="ml-3 greyish">Uploads</small></a>
                                <a id="postsLink" th:href="@{/EmployeeSearch/Users/{useralias}/Posts(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-envelope mr-3 greyishicon"></i><small class="ml-3 greyish"> Posts</small></a>
                                <a id="preferencesLink" th:href="@{/EmployeeSearch/Users/{useralias}/Preferences(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-cog mr-3 greyishicon"></i><small class="greyish"> Preferences</small></a>
                                <a id="helpLink" th:href="@{/EmployeeSearch/Users/{useralias}/Help(useralias=${account.useralias})}" class="btn dropdown-item mb-1 mt-0 darkbluebg"><i class="fas fa-question-circle mr-4 greyishicon"></i><small class="ml-2 greyish"> Help !</small></a>
                                <a id="signoutLink" th:href="@{/EmployeeSearch/Logout}" class="btn dropdown-item my-0 darkbluebg" name="logoutLink"><i class="fas fa-sign-out-alt mr-4 greyishicon"></i><small class="ml-1 greyish">Sign out</small></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- /Navbar -->

    </body>
</html>